.clientContainer {
  width: 100%;
  margin: auto 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.loginAndSign {
  .loginAndSignText {
    color: #32abdd;
    font-size: 28px;
    font-weight: 700;
    padding: 48px;
    line-height: 25px;
  }
  .popoverBtn {
    margin-top: 10px;
    width: 80%;
    border: none;
    padding: 12px;
    cursor: pointer;
    background-color: #153172;
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 8px;
  }
  .popoverBtn:hover {
    background-color: #2480af;
    color: white;
  }
}
// .infoContainer{
//     margin: auto 0;
// }
.infoClientFlex {
  display: flex;
  align-items: center;
}
.profileImgContainer {
  width: 50%;
}
.profileImg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
}
.infoClient {
  width: 50%;
}
.clientLogoContainer{
  
}

.clientLogo {
  width: 100%;
  max-width: 400px;
  display: none;
  visibility: collapse;
}
.formStudy {
  position: relative;
  width: 100%;
  h1 {
    line-height: 25px;
  }
  
  .condImg {
    width: 100%;
    margin-top: 10px;
  }
}
.inputDiv {
  margin-top: 10px;
  width: 80%;
  border: none;
  padding: 12px;
  cursor: pointer;
  background-color: #2480af;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  input {
    visibility: hidden;
    position: absolute;
  }
}
.inputDiv:hover {
  background-color: #288fc2;
  color: white;
}

  .buttonComp1{
    margin-top: 10px;
    margin-bottom: 70px;
    width: 80%;
    border: none;
    padding: 12px;
    cursor: pointer;
    background-color: #222222;
    color: #2a90be;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    z-index: 5;

  }


@media (min-width: 768px) {
  .clientContainer {
    height: 100%;
    .centerContainer{
      height: auto
    }
  }
  .clientHeaderFlex {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .clientInfo{
    width: 70%;
  }
  .clientLogobox{
    width: 30%;
  }
  .clientLogoContainer {
    width: 100%;
    height: 100%;
    .logoSticky {
      position: sticky;
      top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .clientLogo {
      
      display:block;
      visibility: visible;
    }
  }
  .loginAndSign {
    .popoverBtn {
      width: 45%;
    }
  }
  .infoClientFlex {
    justify-content: center;
  }

  .profileImgContainer {
    width: 30% !important;
  }
  .infoClient {
    width: 30% !important;
  }
  .clientLogo {
    visibility: visible;
  }
  .formStudy {
    .inputDiv {
      width: 45% !important;
      margin: 15px;
    }
    .condImg {
      width: 30%;
      border-radius: 8px;
      margin: 10px;
    }
  }
}
@media (min-width: 992px) {
  .clientLogoContainer {
    width: 100%;
  }
}
@media (min-width: 1200px) {
}
