.navBarBlock{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  padding: 0;
}
.navBarFlex {
  display: flex;
  justify-content: space-between;
  background-color: #153172;
  
  
  .navBarflex1 {
    display: flex;

    button {
      padding: 8px;
      margin: 5px;
    }
  }
}
@media (min-width: 768px) {
  .navBarBlock{
    position: relative !important;
  }
  .navBarFlex {
    border-radius: 8px;
  }
}
