.approvalBtn{
    background-color: #153172;
    color: white;
    border: none;
    padding: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    width: 30%;
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    
}